# Compiled binaries
*.exe
*.o
*.a
bearssl_mac/
# Python cache
__pycache__/
*.pyc
*.pyo

# Large tool archives
*.zip
gcc/
node/
platform-tools/
rayhunter/
rustup-init.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SSL Keys & Certificates (Generated locally)
*.der
*.crt
*.key
*.pem
/ref
/tplink_m7350
